{% load static %}

{% block body %}

{% include 'user_navigation.html' %}

<script>
  function checkpass() {
    if (document.changepassword.newpassword.value != document.changepassword.confirmnewpassword.value) {
      alert('New Password and Confirm Password do not match');
      document.changepassword.confirmnewpassword.focus();
      return false;
    }
    return true;
  }
</script>


<marquee style="font-family: 'Monotype Corsiva'; font-size:25px;color:#1ecdcd; background-color:black; font-weight:bold; margin-top:0.5%">
    Password Change User
</marquee>
<hr>

<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
  {% csrf_token %}
  <label><b>Current Password</b></label>
  <input type="password" class="form-control" name="currentpassword" required="required"><br>

  <label><b>New Password</b></label>
  <input type="password" class="form-control" name="newpassword" required="required"><br>

  <label><b>Confirm New Password</b></label>
  <input type="password" class="form-control" name="confirmnewpassword" required="required"><br>

  <input type="submit" class="btn btn-primary" style="margin-top:2%; color:#1ecdcd; background-color:black; font-weight:bold;">
</form>

{% ifequal error "no" %}
<script>
    alert("Password Changed Successful");
    window.location = ('{% url 'Logout' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something Went wrong,Try Again...");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("Current Password is wrong,Try Again...");
</script>
{% endifequal %}





{% endblock %}