{% load static %}

<div class="mt-3" style="background-color:black;width:100%;height:270px">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3">
                <h3 class="text-white ">Contact Information</h3>
                <p style="color:yellow; font-size:18px"><i class="fa fa-map-marker text-danger"> </i> M-175 M Block Ganganagar Meerut 271603 </p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-envelope text-danger"> </i> 9648gauravmishra@gmail.com </p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-mobile text-danger"> </i> 9648098151 </p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-globe text-danger"> </i> https://gauravmishra51.netlify.app </p>
            </div>

            <div class="col-md-4 mt-3">
                <h3 class="text-white ">Online Placement</h3>
                <p style="color:yellow; font-size:18px"> An employment website is a website that deals specially with employment or carrers. Many employment website are designed to allow employers to post job rewuirement for a position to be filled and are commonly know as job board. </p>
            </div>

            <div class="col-md-4 mt-3">
                <h3 class="text-white ">Newslettert</h3>
                <p style="color:yellow; font-size:18px">If you want the any extra information then send me your email id.</p>
                <form method="post" class="form-inline">
                    {% csrf_token %}
                    <input type="email" name="emailid" placeholder="Email ID" required class="form-control mr-2">
                    <input type="submit" value="Send" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>