{% load static %}

{% block body %}

{% include 'navigation.html' %}


<style>
    .container{
    max-width : 100%;
    margin-left : 1%;
    }

    .content{
    text-align : center;
    position: absolute;
    bottom:0;
    background:rgba(0,0,0,0.5);
    color:white;
    }
</style>
<div class="container-fluid" style="margin-top:1%">
    <img src="{% static 'images/portal3.jpg' %}" style="height:690px;max-width:100%">
</div>


<div class="container" style="background-color:black; height :570px; margin-top:1%; margin-left : 1%;">
<h1 class="text-center text-white">----------| OUR PLACED STUDENTS |----------</h1>

    <div class="row mt-3">
        <div class="col-md-3">
            <img src="{% static 'images/f1.jpg' %}" style="width:100%;margin-top:5%;height:200px;border-radius:50%">
            <div class="content" style="height:30px;width:98%">
                <p>Facebook</p>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'images/f2.jpg' %}" style="width:100%;margin-top:5%;height:200px;border-radius:50%">
            <div class="content" style="height:30px;width:91%">
                <p>Google</p>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'images/f3.jpg' %}" style="width:100%;margin-top:5%;height:200px;border-radius:50%">
            <div class="content" style="height:30px;width:91%">
                <p>HCL</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/f4.jpg' %}" style="width:100%;margin-top:5%;height:200px;border-radius:50%">
            <div class="content" style="height:30px;width:91%">
                <p>Honeywell</p>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-3">
            <img src="{% static 'images/f5.jpeg' %}" style="width:100%;margin-top:5%;height:200px;border-radius:50%">
            <div class="content" style="height:30px;width:98%">
                <p>TCS</p>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'images/f6.jpeg' %}" style="width:100%;margin-top:5%;height:200px;border-radius:50%">
            <div class="content" style="height:30px;width:91%">
                <p>Wipro</p>
            </div>
        </div>
         <div class="col-md-3">
            <img src="{% static 'images/f7.jpeg' %}" style="width:100%;margin-top:5%;height:200px;border-radius:50%">
            <div class="content" style="height:30px;width:91%">
                <p>Infosys</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="{% static 'images/f8.jpeg' %}" style="width:100%;margin-top:5%;height:200px;border-radius:50%">
            <div class="content" style="height:30px;width:91%">
                <p>Cognizant</p>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}