{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}
<style>
    tr{text-align:center}
</style>

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px;color:#1ecdcd; background-color:black; font-weight:bold; margin-top:0.5%">
    Manage Job List
</marquee>
<hr>
<div class ="container">
<table class="table table-hover" id="example">
    <thead>
    <tr style = "background-color :#000090; color:white">
        <th>S.No.</th>
        <th>Job Title</th>
        <th>Creation Date</th>
        <th>Action</th>
<!--        <th>Start Date</th>-->
<!--        <th>End Date</th>-->
<!--        <th>Salary</th>-->
<!--        <th>Image</th>-->
<!--        <th>Experience</th>-->
<!--        <th>Location</th>-->
<!--        <th>Skills</th>-->
<!--        <th>Description</th>-->
    </tr>
    </thead>
    <tbody>
    {% for i in job %}
    <tr style = "background-color :#DEB887 ">
        <td>{{forloop.counter}}</td>
        <td>{{i.title}} </td>
        <td>{{i.creationdate}}</td>
         <td>
             <a href="{% url 'edit_joblist' i.id %}" class="btn btn-success btn-sm"> Edit</a>
             <a href="{% url 'change_status' i.id %}" class="btn btn-danger btn-sm"> Delete</a>
         </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% csrf_token %}




{% endblock %}