{% load static %}

{% block body %}

{% include 'navigation.html' %}

<marquee style="font-family: 'Monotype Corsiva'; font-size:25px;color:#1ecdcd; background-color:black; font-weight:bold; margin-top:0.5%">
    User Login
</marquee>
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Email ID</b></label>
    <input type="email" class="form-control" name="uname" placeholder="Enter Email ID">

    <label><b>Password</b></label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter Password">

    <input type="submit" value="LOGIN" class="btn btn-primary" style="margin-top:2%;color:#1ecdcd;background-color:black; font-weight:bold;">
    <a href="{% url 'user_signup' %}" class ="btn btn-primary" style="margin-top:2%;color:#1ecdcd;background-color:black; font-weight:bold;">CREATE AN ACCOUNT</a>
</form>

{% include 'footer.html' %}

{% ifequal error "no" %}
<script>
    alert("Login Successful");
    window.location = ('{% url 'user_home' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Invalid Login,Try again...");
</script>
{% endifequal %}
{% endblock %}